{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
{% load static %}


<div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Active Tickets Table</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center justify-content-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ticket Id</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Title</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Created on</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Assing To</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Status</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Action</th>


                  <th></th>
                </tr>
              </thead>
              <tbody>
                {%for ticket in tickets %}
                <tr>
                  <td>
                    <small>{{ticket.ticket_id}}</small>
                  </td>
                  <td>
                    <small> {{ticket.ticket_title}}</small>
                  </td>
                  <td>
                    <small>{{ticket.created_on}}</small>
                  </td> 
                  {%if ticket.is_assigned_to_engineer%}
                  <td>
                   <small>{{ticket.engineer}}</small> 
                  </td> 
                  {%else%}
                  <td>
                  <small> <p>Not Assigned</p></small> 
                  </td>
                  {%endif%}
                  {%if ticket.status == 'Active' %}
                  <td class="badge bg-gradient-success align-middle">
                   <small> <p>Active</p></small>
                  </td>
                  {%elif ticket.status == 'Pending' %}
                  <td class="badge bg-gradient-warning align-middle">
                    <small>  <p>Pending</p></small>
                  </td>
                  {% endif %}
                  <td>
                    <small><a href="{% url 'ticket_details' ticket.pk %}">View Details</a></small> 
                    </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}