{% extends 'users/base.html' %}
{% load widget_tweaks %}
{% block content %}
{% load static %}

<div class="row">
  <div class="col-lg-4 col-md-8 col-12 mx-auto">
    <div class="card z-index-0 fadeIn3 fadeInBottom">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
          <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Sign in</h4>
      
        </div>
      </div>
      <div class="card-body">
        <form  method="POST"  class="text-start">
          {% csrf_token %}
          <div class="input-group input-group-outline my-3">
            <label for="exampleFormControlInput1" >user name</label>
            <input type="input" name="username" class="form-control" id="username" >
        
          </div>
          <div class="input-group input-group-outline mb-3">
            <label for="inputPassword5" >Password</label>
            <input type="password" name="password" id="Password" class="form-control" aria-describedby="passwordHelpBlock">

          </div>

          <div class="text-center">
            <button class="btn bg-gradient-primary w-100 my-4 mb-2">Sign in</button>
          </div>
          <p class="mt-4 text-sm text-center">
            Don't have an account?
            <a href="{% url 'register_customer' %}" class="text-primary text-gradient font-weight-bold">Sign up</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
