{% extends 'users/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="row">
  <div class="col-lg-4 col-md-8 col-12 mx-auto">
    <div class="card z-index-0 fadeIn3 fadeInBottom">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
          <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Sign in</h4>
      
        </div>
      </div>
<div class="card-body">
<form method="POST">
    {% csrf_token %}
    <div class="input-group input-group-outline mb-3">
        <label for="exampleFormControlInput2" class="form-label">Email</label>
        {% render_field form.email class="form-control" %}
    </div>
    <div class="input-group input-group-outline mb-3">
        <label for="exampleFormControlInput1" class="form-label">User Name</label>
        {% render_field form.username class="form-control" %}
    </div>
      <div class="input-group input-group-outline mb-3">
        <label for="inputPassword5" class="form-label">Password</label>
        {% render_field form.password1 class="form-control" %}
      </div>
      <div class="input-group input-group-outline mb-3">
        <label for="inputPassword5" class="form-label">Confirm Password</label>
        {% render_field form.password2 class="form-control" %}
      </div>
      <div class="col-auto">
        <button  class="btn bg-gradient-primary w-100 my-4 mb-2">Submit</button>
      </div>
    </form>

  </div>
</div>
</div>
</div>



{% endblock content %}
